<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="SLF4J"/>
    <!-- 使用列别名替换列名 默认:true -->
    <setting name="useColumnLabel" value="true"/>

    <!-- 开启驼峰命名转换:Table{create_time} -> Entity{createTime} -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <!-- 类型别名配置 -->
  <typeAliases>
    <typeAlias type="org.ssm.entity.Student" alias="Student"/>
    <typeAlias type="org.ssm.dao.StudentDao" alias="StudentDao"/>
  </typeAliases>

</configuration>